<nav class="navbar navbar-expand-lg navbar-light bg-primary">

  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto">

        <a class="navbar-brand" href="/" style="font-family: 'Trebuchet MS', Verdana, 'Segoe UI', sans-serif; font-weight:700;">
          <i class="bi bi-house-door"></i> EPA</a>

        <li class="nav-item">
          <a class="nav-link" href="/sist_embarcados">
            <i class="bi bi-journal-bookmark"></i> Sistemas Embarcados</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/PW">
            <i class="bi bi-journal-text"></i> Programação Web</a>
        </li>

        <li class="nav-item"><a class="nav-link" href="/cad_usuario">
          <i class="bi bi-person-plus"></i> Cadastro</a>
        </li>

        <li class="nav-item"><a class="nav-link" href="/integrantes">
          <i class="bi bi-people-fill"></i> Integrantes da Equipe</a>
        </li>

      </ul>

    </div>
  </div>
</nav>