<h1>EPA</h1>
<h3>Navegação NodeJS</h3>
<img src="/images/etecitu.png" alt="etecitu">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ByDnuViGzd4?si=m2cEAgRmpMwR4wRo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p>EPA é um evento onde as ETECS recebem visitantes para conhecer a unidade e os cursos disponíveis<br>
  por meio de projetos desenvolvidos pelos alunos com a mentoria dos professores. Assim mostrando  <br>
  ao público as atividades realizadas na escola e a importância da educação técnica para o      <br>
  desenvolvimento de futuros profissionais no mercado de trabalho.
</p>