<h1>Adicionar Usuário</h1> 
<form action="/cad_usuário/add" method="POST"> 
    <div class="form-group"> 
        <label for="nome">Usuários</label> 
        <input type="text" class="form-control" id="nome" name="nome" required> 
    </div> 
    <button type="submit" class="btn btn-primary">Adicionar</button> 
</form> 